<main>
    <br>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        <h5>{{gig.title}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{gig.description}}</p>
                        <a href="/gig/{{gig.id}}" class="btn btn-primary">View Gig</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</main>