<main>
  <div class="container-fluid but-fixed">
    <div id="banner" class="d-flex justify-content-left align-items-center">
      <div class="col-12">
        <div class="headline">
          <h1 class="mb-3 text-white">Side Cash</h1>
          <h4 class="mb-5 text-white font-weight-light">A place to level up your side hussle game.</h4>
        </div>
        <div class="cta">
          <a class="btn btn-primary btn-lg" href="/gigs/">I want to work</a>
          <a class="btn btn-primary btn-lg" href="/post-gig/">I want to hire</a>
        </div>
      </div>
    </div>
  </div>
</main>
