<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>PostaGig</title>
</head>

<body>
        <header id="header-wrapper" class="clearfix">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">
                        <span class="brand-name d-inline-block align-middle">$ideCash</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/gigs/">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/sign/">Signup</a></li>
                        </ul>
                    </div>
                </nav>
            </header> <!-- end #header_wrapper -->
  
  
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                        <h3>Who Are You?</h3>
                        <form>
                               <div class="row">
                                   <div class="col">
                                       <input type="text" class="form-control" placeholder="First name">
                                   </div>
                                   <div class="col">
                                       <input type="text" class="form-control" placeholder="Last name">
                                   </div>
                               </div>
                           </form>
                   </div>
        </div>
      
           
                    <div class="row">
                        <div class="col-md-12">
                          <h3>Tell us What You Need</h3>
                        </div>  
                    </div>
        
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                Job description here.
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class ="row">
                    <div class="col-md-6">
                        <h3>Where are you Located?</h3>
                    <div class="row">
                        <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <label for="formGroupExampleInput">Location</label>
                                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                                    </div>
                                </form>
                        </div>   
                    </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h3>Job Category</h3>
                    </div>
                </div>

                
                       
                   
                    
                    
                </div>
                </div>
    
        </div>

    </div>





</body>

</html>