<main>
    <div class="container">
        <br>
        <form>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h5 class="card-header">Post Gig</h5>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="title" class="form-control" id="exampleFormControlInput1"
                                    placeholder="Title">
                            </div>
                            <br>
                            <div>
                                <h3>Tell us What You Need</h3>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <h3>Where are you Located?</h3>
                                <input type="text" class="form-control" id="formGroupExampleInput"
                                    placeholder="Location">
                            </div>
                            <br>
                            <div>
                                <h3>Job Category</h3>
                                <div class="form-group">
                                    <select class="form-control" id="Category">
                                        <option>Manual Labor</option>
                                        <option>Education</option>
                                        <option>Tech</option>
                                        <option>Household</option>
                                        <option>Entertainment</option>
                                        <option>Miscellaneous</option>
                                    </select>
                                </div>
                                <br>
                                <div class="submitbutton">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>