<main>
    <div class="container-fluid but-fixed">
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-10 col-lg-8">
                <div class="card border-0">
                    <div class="card-header">{{user.fullname}}</div>
                    <div class="card-body">
                        <form id="signup-form" action="#" method="POST">
                            <h5 class="card-subtitle mb-2 text-muted">Username</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Location:</h6>
                            <p class="card-text">Orlando, FL</p>
                            <h6 class="card-subtitle mb-2 text-muted">Rating:</h6>
                            <p class="card-text">4.5 out of 5 stars</p>
                            <a href="#" class="card-link">Phone: 555-555-5555</a>
                            <a href="mailto:gigs@sidecash.com" class="card-link">Email me</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
