/* body {
   
} */

.container-fluid {
    background-color:blue;
    padding:0px;
}

.jumbotron {
    height: 400px;
    /* height:100vh; */
    margin: 0px;
    
}
.jumborow {
    width:50%;
    text-align: center;
}

.jumboDivL {
    display: inline-block;
    /* float:left; */
    background-color:blue;
}

.jumboDivR {
    display: inline-block;
    /* float:left; */

    background-color:red;
 }